h1 {
    color: pink;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
}

#rockButton {
    height: 190px;
    width: 150px;
}

#paperButton {
    height: 210px;
    width: 220px;
}

#scissorsButton {
    height: 200px;
    width: auto;

}

.scoreBoard {
    display: flex;
    justify-content: space-around;

}

